/**********************************************************
 *  kes/public/css/info.css                               *
 **********************************************************
 *
 *
 */

    .info {
        position: relative;
        float: right;
        right: 0vw;
        width: auto;
        height: 100%;
    }
